
.saturn-img-foton {
    vertical-align: middle;
    margin-left: 915px;
    width: 90px;
    z-index: 999;
    position: relative;
    border-left: 10px solid #232741;
    border-right: 10px solid #232741;
    background: #232741;
}
.neptune-img-foton {
    vertical-align: middle;
    margin-left: 915px;
    width: 90px;
    z-index: 999;
    position: relative;
    border-left: 10px solid #232741;
    border-right: 10px solid #232741;
    background: #232741;
}
.uranus-img-foton {
    vertical-align: middle;
    margin-left: 915px;
    width: 90px;
    z-index: 999;
    position: relative;
    border-left: 10px solid #232741;
    border-right: 10px solid #232741;
    background: #232741;
}
.earth-img-foton {
    width: 50px;
    vertical-align: middle;
    z-index: 999;
    position: relative;
    border-left: 10px solid #232741;
    border-right: 10px solid #232741;
    margin-left: -10px;
}
.foton {
    color: #fec107;
    font-size: 3px;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 0 0 20px 10px #fec107;
    border-radius: 50%;
    position:relative;
    z-index:9999;
}
.foton-vector {
    z-index: 0;
    position: absolute;
    width: 100%;
    display: inline-block;
    margin: 24.5px 0 0 0;
    background: #2d3250;
    height: 1px;
    left: 0px;
}
#planetazelday {
    height: 250px;
    margin: 25px 0;
}
.info-text {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 40px 0 0;
    display: inline-block;
    vertical-align: top;
    color: #232741;
    line-height: 25px;
    width: 600px;
}
.info-text-white {
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 0 0px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    line-height: 25px;
}
#share {
    width: 30px;
    margin: -36px 0 40px -1px;
    height: 30px;
}

.owl-carousel-mob {
    width: 425px !important;
    z-index: 1;
    margin: -20px 0 0 -25px;
}
.owl-carousel-mob .item {
    width: 400px;
    height: 370px;
    position: relative;
    z-index: 9999;
    display: inline-block;
}
.owl-carousel-mob .owl-item {
    display: inline-block;
    height: 330px;
}
.owl-carousel-mob .owl-nav.disabled {
    display: none;
}
.owl-carousel-mob .owl-dots {
    display: none;
}
.owl-carousel-mob .planet-title {
    font-size: 18px;
    font-weight: 500;
    color: #232741;
    padding: 25px 15px !important;
    margin: 0;
}
.planet-title-mob {
    padding: 25px 15px;
}
.planet-mob .owl-item {
    height: 255px;
}
.planet-mob .item {
    height: 255px;
}
.planet-mob .drawf-planet {
    left: 25px;
}